<ion-header>
  <ion-navbar>
    <ion-title>
      Search
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-searchbar
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)"
    placeholder="Search for an artist..."
    type="text"
    animated=true>
  </ion-searchbar>

  <div *ngIf="artistsQueryResult && artistsQueryResult.artists && artistsQueryResult.artists.items.length > 0">
    <ion-card *ngFor="let artist of artistsQueryResult.artists.items">
      <img *ngIf="artist.images[0]" src="{{artist.images[0].url}}">
      <div class="card-title">{{artist.name}}</div>
      <div class="card-subtitle">{{artist.genres[0]}}</div>
    </ion-card>
  </div>

</ion-content>
