.card-background-page {
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #000;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #000;
    }
    .card-background-img {
        display: block;
        width: 100%;
        height: 200px;
        object-fit: cover;
        filter : opacity(60%);
    }
    .card-add-icon{
        position: absolute;
        top: 5px;
        right: 5px;
        color:#7dabfd;
        font-size: 2em;
    }
    .card-remove-icon{
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 2em;
        color: red;
    }
}
